@import url("https://fonts.googleapis.com/css2?family=Harmattan&display=swap");

/* root varaibles */
:root {
  --color-primary: #7380ec;
  --color-success: #43bda0;
  --color-white: #fff;
  --color-dark: #363949;
  --color-primary-variant: #44397d;

  --card-padding: 1.8rem;

  --box-shadow: 0 0.5rem 3rem var(--color-primary-variant);
}

/* REST */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  direction: rtl;
  font-family: "Harmattan", sans-serif;
  font-size: 0.88rem;
  overflow-x: hidden;
  background: var(--color-primary);
  color: var(--color-dark);
}

#app {
  max-width: 980px;
  margin: auto;
  padding: 0 15px;
  text-align: center;
}

.container {
  background: var(--color-white);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  max-width: 350px;
  min-height: 350px;
  padding: var(--card-padding);
  text-align: right;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
}

form {
  margin: 1rem;
}

form label {
  font-size: 1.5rem;
}

form input {
  margin: 0.5rem 0;
  width: 100%;
  border-radius: 1rem;
  padding: 0.2rem 0.7rem;
  border: 0.1rem solid var(--color-primary-variant);
}

button {
  font-family: inherit;
  margin-top: 1.5rem;
  padding: 0.1rem 1.2rem;
  font-size: 1.25rem;
  border-radius: 1.25rem;
  background: var(--color-success);
  color: var(--color-white);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 0.3s ease;
}
button:hover {
  background: #088e8b;
}

p#result {
  font-size: 2rem;
  color: #363949;
  text-align: center;
  margin: 3rem 0 0 0;
}

p#result:empty {
  display: none;
}

@media (min-width: 768px) {
  .container {
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
